*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(107, 101, 101);
    color: white;
}

header{
    background-color: burlywood;
    color: white;

}

footer{
    background-color: rgb(55, 53, 53);
    color: white;
}